{% extends "base.html" %} {% block title %}Rental Form{% endblock %}
{% block content %}
<body align="center">
<style>
.Title {
  background-color: navy;
  color: white;
  padding: 10px;
}
</style>
<h1 class="Title">Please Fill out the Form Below</h1>

<form method="POST" class="needs-validation">
<h2 align="center">Rental Equipment Agreement, Waiver and Release of Liability for Jetski’s, ATVs, Kayaks,
Paddleboards and Bicycle Equipment</h2>
<p align="center">Boat (Jetski/Kayak/SUP, ATV) and Equipment Rental Agreement Beachside Valet, NYS Office of Parks, Recreation Camp;
Historic Preservation, herein called, “Lessor,” and the undersigned, herein called, “Renter.” This agreement also
constitutes a Waiver and Release of Liability, whereby the Renter agrees to release, discharge, hold harmless,
defend and indemnify Beachside Valet and NYS Office of Parks, Recreation Camp; Historic Preservation, and its owners,
agents, officers and employees from any and all claims, actions or losses for bodily injury, property damage,
wrongful death, loss of services or otherwise which may arise out of Renter’s use of Kayaking or Paddleboarding
Equipment, premises or facilities or Renter’s participation in Jetski, ATV, kayaking or paddle sports activities. By
signing this document, Renter acknowledges he/she specifically understands he/she (Renter) is releasing,
discharging and waiving any claims or actions that I may have at the present time, or in the future, for the
negligent acts, omissions or other conduct by the owners, agents, officers or employees of Beachside Valet and
NYS Office of Parks, Recreation Camp; Historic Preservation. Please check each box and sign below to
acknowledge acceptance of this agreement.</p>
<input type="checkbox" id="consent_1" name="consent_1" value="consent" required>
<label for="consent_1" align="center"> Renter shall obey all state, federal and local Boating Regulations, laws, ordinances and lawful
directives from appropriate emergency or law enforcement personnel, while operating or renting boats or
equipment from Beachside Valet and NYS Office of Parks, Recreation &amp; Historic Preservation. Renter is
solely responsible for any citation or violation occurring during the use of, or as the result of using, rental
boats or equipment from Beachside Valet.</label><br>
<input type="checkbox" id="consent_2" name="consent_2" value="consent" required>
<label for="consent_2" align="center">Renter represents that he/she is capable of safely operating and handling the Equipment and
finds it in good working order, condition and repair. Renter represents that he/she has adequate
skills, knowledge and experience to safely complete the planned activity and that adequate
preparations have been made to ensure safe completion of trip.</label><br>
<input type="checkbox" id="consent_3" name="consent_3" value="consent" required>
<label for="consent_3" align="center">Renter shall bear all risk and responsibility of and for any and all damage, loss or theft of the rental
boats and/or Equipment, or any portions thereof, including, but not limited to vandalism or theft, and
shall pay the Lessor (Beachside Valet) the full cost of repair or replacement.</label><br>
<input type="checkbox" id="consent_4" name="consent_4" value="consent" required>
<label for="consent_4" align="center">Renter shall return boats and equipment in the condition in which it was received. Minimum charges
for repairs, labor and cleaning will be applied in the event rental boats or equipment require repair or
excessive cleaning. Renter agrees to use all equipment for its designed purpose only.</label><br>
<input type="checkbox" id="consent_5" name="consent_5" value="consent" required>
<label for="consent_5" align="center">RECOGNITION OF RISK: Renter expressly acknowledges that Jetskiing, ATVing, kayaking and
Paddleboarding are activities with inherent risks of injury to persons and property. RENTER IS AWARE
OF THOSE RISKS AND UNDERSTANDS THEM. Renter acknowledges that PFD’s (Lifejackets) are
made available and that ALL RENTERS ARE REQUIRED TO WEAR PFD’s/LIFEJACKETS WHILE
USING RENTAL BOATS AND EQUIPMENT. Renter also acknowledges that a DOT Helmet
provided MUST BE WORN AT ALL TIMES WHEN OPERATING AN ATV. Renter understands that
use of a PFD does not remove all risks of injury; nor does PFD use make jetskiing, Kayaking or
Paddleboarding safe activities. Renter alone has determined the sufficiency of any safety gear or other
precautions that Renter decides to take to minimize the risks of the activity. No party related to Lessor,
including Owner and Employees, has made any representations regarding the safety of, or the risks of, the
activity. RENTER EXPRESSLY ASSUMES THE RISKS OF THE ACTIVITY.</label><br>
<input type="checkbox" id="consent_6" name="consent_6" value="consent" required>
<label for="consent_6" align="center">RELEASE OF LIABILITY: Renter hereby RELEASES Lessor (Beachside Valet and NYS Office of Parks,
Recreation &amp; Historic Preservation), its owners and its employees from liability for negligence and HOLDS
HARMLESS the Lessor, its owner and its employees from any loss, expense or cost, including attorney
fees, arising out of any damages or injuries, whether to persons or property, occurring as a result of the
rental or use of said boat and/or Equipment.</label><br>
<input type="checkbox" id="consent_7" name="consent_7" value="consent" required>
<label for="consent_7" align="center">This agreement constitutes the entire agreement between Lessor and Renter and no term may be waived or
modified (including provision against oral modification) except in writing signed by both parties. There are no
warranties, expressed or implied, by Lessor to Renter, except as contained herein, and Lessor shall not be liable for
any loss or injury to Renter nor to anyone else, of any kind or however caused. This agreement is one of bailment only
and Renter is not Lessor’s agent while using said boat(s) or Equipment. The laws of the State of New York shall govern
this agreement.</label><br>
<h3 align="center">NON COMPLIANCE WITH THE ABOVE AGREEMENT MAY RESULT IN CHARGES FOR LOSS OR
DAMAGE.</h3>
<div class="form-group">
        <label for="signature">Acknowledge the Above Conditions by Printing Your Full Name</label>
        <input type="text" 
        class="form-control" id="signature" 
        name="signature" 
        placeholder="Please Sign Here" required
        />
    </div>
<div class="form-group">
        <label for="full-name">Please Print Your Full Name Again</label>
        <input type="text" 
        class="form-control" id="full-name" 
        name="full-name" 
        placeholder="Enter Name" required
        />
    </div>
<div class="form-group">
        <label for="drivers-license-id">Please Enter Your Driver License Number</label>
        <input type="text" 
        class="form-control" id="license-number" 
        name="license-number" 
        placeholder="Enter Number" required
        />
    </div>
<div class="form-group">
        <label for="drivers-license-id">Please Enter Your Phone Number</label>
        <input type="text" 
        class="form-control" id="phone-number" 
        name="phone-number" 
        placeholder="Enter Number" required
        />
    </div>
<div class="form-group">
        <label for="drivers-license-id">Please Enter Your Email Address</label>
        <input type="email" 
        class="form-control" id="email-address" 
        name="email-address" 
        placeholder="Enter Email" required
        />
    </div>
<button type="submit" class="btn btn-primary" align="center">Submit Form</button>
</form>
</body>


{% endblock %}


